<h1>Coffe Shop: The wide variety of coffee for you !</h1>

<div>
	Browse through
	{{ numberOfCoffee }}
	Coffee !

    {% if numberOfCoffee > 40 %}
        <p>That is quite a number of Coffee !</p>
    {% endif %}
</div>
